<div class="col-md-12">
  <h1 class="page-header">Pools</h1>
  <div class="input-group">
    <input class="col-sm-8 form-control" ng-show="poolsCtrl.isLoggedIn()" placeholder="Name" type="text" ng-model="poolsCtrl.newPool.name">
    <span class="input-group-btn">
      <button class="btn btn-success" ng-show="poolsCtrl.isLoggedIn()" ng-click="poolsCtrl.addNewPool()">Add Pool</button>
    </span>
  </div>
  <table class="table table-striped table-hover">
    <tbody>
    <tr ng-repeat="pool in poolsCtrl.pools | orderBy : 'name'" ui-sref="poolDetail({poolId: pool._id})">
      <td>{{pool.name}}<br/><i>{{pool.teamsList}}</i></td>
    </tr>
    </tbody>
  </table>
</div>
