<div class="col-sm-12">
  <h1 class="page-header">Edit Match</h1>

  <div uib-timepicker ng-model="matchEditCtrl.match.time"  hour-step="1" minute-step="5"></div>

  <table class="table">
    <tbody>
    <tr>
      <td colspan="2">
        <input class="col-sm-12 btn-block form-control" type="text" placeholder="New Location" ng-model="matchEditCtrl.match.court">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <select ng-init="matchEditCtrl.choiceRef = matchEditCtrl.choiceRef" ng-model="matchEditCtrl.choiceRef" ng-options="team.name for team in matchEditCtrl.allTeams | orderBy : 'name'" class="form-control">
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <select ng-init="matchEditCtrl.choice1 = matchEditCtrl.choice1" ng-model="matchEditCtrl.choice1" ng-options="team.name for team in matchEditCtrl.allTeams | orderBy : 'name'" class="form-control">
        </select>
      </td>
      <td>
        <select ng-init="matchEditCtrl.choice2 = matchEditCtrl.choice2" ng-model="matchEditCtrl.choice2" ng-options="team.name for team in matchEditCtrl.allTeams | orderBy : 'name'" class="form-control">
        </select>
      </td>
    </tr>
      <tr>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 1" ng-model="matchEditCtrl.points[0]"></td>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 1" ng-model="matchEditCtrl.points[1]"></td>
      </tr>
      <tr>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 2" ng-model="matchEditCtrl.points[2]"></td>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 2" ng-model="matchEditCtrl.points[3]"></td>
      </tr>
      <tr>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 3" ng-model="matchEditCtrl.points[4]"></td>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 3" ng-model="matchEditCtrl.points[5]"></td>
      </tr>
      <tr>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 4" ng-model="matchEditCtrl.points[6]"></td>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 4" ng-model="matchEditCtrl.points[7]"></td>
      </tr>
      <tr>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 5" ng-model="matchEditCtrl.points[8]"></td>
        <td><input class="matchEditTCell form-control" type="number" placeholder="Set 5" ng-model="matchEditCtrl.points[9]"></td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <tr>
      <td colspan="2">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="matchEditCtrl.match.isComplete" value="">Match Complete</label>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button class="btn btn-full btn-success" ng-click="matchEditCtrl.saveMatch()">Save</button>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-full btn-danger" ng-click="matchEditCtrl.deleteMatch()">Delete</button>
      </td>
      <td>
        <button class="btn btn-full btn-default" ui-sref="poolDetail({poolId: matchEditCtrl.match.poolId})">Cancel</button>
      </td>
    </tr>
  </table>
</div>

